body{
	margin: 0;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
    overflow: hidden;
    background-color:#E0E5EC;
    display: block;
}
h2{
	margin-top: 100px;
	font-size: 40px;
}
h6{
	margin-top: -20px;
	font-size: 18px;
	color: black;
	font-weight: bold;
}
.form{
	font-family: Nunito;
	display: table;
	/* Basic styling and alignment */
 
	border-radius:70px;

	/* Basic styling and alignment */
	/* For Neumorphism Effect */
	background-color:#E0E5EC;
	box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
    /* For Neumorphism Effect */
}
form{
	font-family: Nunito;
	display: table-cell;
    padding: 50px;
    color: black;
}
.interaction{
	position: relative;
}
.halla{
	position: absolute;
	 width: 100%;
     height: 200%; 
     background-repeat: repeat; 
}
.baksa{
	z-index: 9;
	position: fixed;
	margin-left:40%;
	margin-top: 0%;
}
 input.login{
        background-color: #E0E5EC;
      box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.05),
        -9px -9px 9px rgba(255, 255, 255, 0.6),
        inset 2px 2px 3px rgba(0, 0, 0, 0.03),
        inset -2px -2px 3px rgba(255, 255, 255, 0.4);         padding: 10px;
        border: 0px solid transparent;
        width: 40%;
        color: #fff;
        background-color: #e64b40;
        border-color: #E0E5EC;
        font-size: .8rem;
        padding: .75rem 1rem;
        transition: transform .5s;
      }
    input.login:hover{
      cursor: pointer;
      transform: scale(1.2);
    }
input{
	font-family: Nunito;
	background-color:#E0E5EC;
	box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.05),
    -9px -9px 9px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.03),
    inset -2px -2px 3px rgba(255, 255, 255, 0.4);	border:1px solid transparent;
	border-radius: 20px;
	padding: 10px;
	margin: 15px;
}
.form:hover{
	box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.05),
    inset -6px -6px 6px rgba(255, 255, 255, 0.5);
}
input.login{
	font-family: Nunito;
	background-color:#E0E5EC;
	box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
	padding: 10px;
	border: 0px solid transparent;
	border-radius: 20px;
	width: 60%;
	color: #fff;
    background-color: #e64b40;
    border-color: #E0E5EC;
    font-size: .8rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
    transition: transform .5s;
}
input:focus{
    outline: none;
}
input.login:hover{
	cursor: pointer;
	transform: scale(1.2);
}
a{
	color: gray;
	text-decoration: none;
}
a.changepw{
	transition: transform .5s;
}
a.changepw:hover{
	transform: scale(1.2);
}