.maincontainer{
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
}
.stock{
    width: 100%;
}
.twoColumn{
    height: 50%;
}
.topProgram{
    height: 60%;
}
.alerts{
    height: 20%;
    font-size: 5;
}
